@import "tailwindcss";

@theme {
    --font-Display: 'Montserrat', 'sans-serif';
    --color-primary: #1A73E8;
    --color-secound: #0D47A1;
    --color-lightSkyBlue: #E3F2FD;
    --color-strongBlue: #1976D2;
    
}

